.grid-item {
    text-align: center;
    & > a {
        text-decoration: none;
        & > span {
            margin: 0;
        }
    }
}

.picture-profil {
    object-fit: cover; 
    height: 200px;
    width: 200px;
    border-radius: 50%;
    clip-path: circle(40%);
}
