.button {
    &--static {
        background-color: $color-primary;
        color: white;
        font-style: normal;
        line-height: 23px;
        font-size: 18px;
        font-weight: bold;
        padding: 1em;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        &:hover{
            color: black;
            background-color: $color-secondary;
        }
        &:focus {
            color: black;
            background-color: $color-secondary;
        }
    }
}
