/* CAHIER DES CHARGES */
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-secondary-lighter: #DB8876;
$color-third: #FAFAFA;
$color-fourth: #525252;

$color-typo-price: #757575;


$color-link-border: #C4C4C4;
